.title {
  color: black;
  text-align: start;
  margin-left: 5%;
  font-size: 30px;
}
.description {
  color: black;
  text-align: start;
  font-size: 25px;
}
.news-item-container {
  margin-left: 1%;
  margin-right: 1%;
  background-color: antiquewhite;
  border-radius: 26px ;
}
.date {
  color: black;
  text-align: end;
  margin-right:1% ;
  font-size: 25px;
}
