.name, .genre, .duration, .release-date, .format {
    color: black;
    text-align: start;
    margin-left: 1%;
    font-size: 20px;
  }

.description, .description-item {
    color: black;
    text-align: start;
    margin-left: 1%;
    font-size: 23px;
  }

.movie-item-container {
    margin-left: 1%;
    margin-right: 1%;
    background-color: aquamarine;
    border-radius: 26px ;
  }

